@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

* {    
    margin: 0 !important;
    padding: 0 !important;
}

body > #root > div {
    height: 100vh;
    clear: both;
}

.app{
    margin-top: 0;
    background: black;
    color: white;
    margin-top: 0;
}


.welcome-div{
    margin-top: 0%;
    color: white;
    background: black;
    font-family: 'VT323';
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    clear: both;
}

.greeting{
    justify-content: center;
    align-items: center;
}